**List Methods in Python:**

1.Extend

In [3]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [11, 12, 13, 14]
l.extend(l2)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

2. Insert

In [12]:
L = ['Umer', 'Mahad', 'Usman']
L.insert(-1, 'Sarosh')
print(L)
L.insert(1000, 'Hammad')
print(L)

['Umer', 'Mahad', 'Sarosh', 'Usman']
['Umer', 'Mahad', 'Sarosh', 'Usman', 'Hammad']

3.Count

In [15]:
L = [1, 2, 3, 4, 5, 1,2 ,3 ,1, 1]
print(L.count(1))
if L.count(8) == 0:
  print('8 is not present in the list')

4
8 is not present in the list

4.sort

In [29]:

list_of_tuples = [('Umer', 21), ('Sarosh', 33), ('Usman', 43)]
list_of_tuples.sort(key = lambda x:x[0])
print(list_of_tuples)
sorted_list = sorted(list_of_tuples, key = lambda x : x[1], reverse = True)
print(sorted_list)

1 2 3
4 5 6
7 8 9
['My name is Umer Tariq', ' I am a programmer', '']

5. List of lists

In [ ]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in range(len(list_of_lists)):
  for j in range(len(list_of_lists[0])):
    print(list_of_lists[i][j], end = ' ')
  print(' ')

6.Remove

remove(): This method removes the first occurrence of a specified element from the list.

pop(): This method removes the element at a specified index (default is the last element) and returns it.

del: This statement removes an element at a specified index or a slice of elements from the list.

In [38]:
L = [1, 2, 3, 4, 5, 1,2 ,3 ,1, 1]
print(L)
L.remove(2)
print(L)
L.pop()
print(L)
L.pop(0)
print(L)
del L[3:]
print(L)

[1, 2, 3, 4, 5, 1, 2, 3, 1, 1]
[1, 3, 4, 5, 1, 2, 3, 1, 1]
[1, 3, 4, 5, 1, 2, 3, 1]
[3, 4, 5, 1, 2, 3, 1]
[3, 4, 5]

7.Copy

In [40]:
L_copy = L.copy()
print(L_copy)
L_copy.pop()
print(L)
print(L_copy)

[3, 4, 5]
[3, 4, 5]
[3, 4]

8.Index

In [41]:
L = [1, 2, 3, 4, 5, 1,2 ,3 ,1, 1]
print(L.index(2))

1

9.Enumerate

In [43]:
list_of_names = ['Umer', 'Usman', 'Sarosh']
for i, name in enumerate(list_of_names):
  print(i, ' ', name)

0   Umer
1   Usman
2   Sarosh

10.Reverse

In [44]:
list_of_names.reverse()
print(list_of_names)

['Sarosh', 'Usman', 'Umer']